/* Default styles for all different types of buttons */

.button {
    color: #3E3E3E;
    font-weight: 300;
    background-color: #E2E2E2;
    padding: 10px 10px;
    display: inline-block;
    border: none;
    line-height: 1.15;
    font-size: 1rem;
}

.button:hover {
    coler: #3E3E3E;
    background-color: #EEE;
    cursor: pointer;
}

.button-green {
    background-color: #21BA45;
    color: #FFF;
}

.button-green:hover {
    background-color: #16AB39;
    color: #FFF;
}

.button-blue {
    background-color: #2196F3;
    color: #FFF;
}

.button-blue:hover {
    background-color: #0C7CD5;
    color: #FFF;
}

.button-red {
    background-color: #DB2828;
    color: #FFF;
}

.button-red:hover {
    background-color: #D01919;
    color: #FFF;
}

.button-dark {
    background-color: #010101;
    color: #FFF;
}

.button-dark:hover {
    background-color: #3C3C3C;
    color: #FFF;
}

.button-transparent {
    background-color: rgba(255, 255, 255, 0);
    color: #AAA !important;
    border: 1px solid #AAA;
}

.button-transparent:hover {
    background-color: #AAA;
    color: #FFF !important;
}
