.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.icon-right-bottom {
    position: absolute;
    right: 15px;
    bottom: 10px;
}

@media (max-width: 992px) {
    .icon-right-bottom {
        position: absolute;
        right: 15px;
        bottom: -15px;
    }
}

.icon-right-top {
    position: absolute;
    right: 15px;
    top: 18px;
}

.dark-bg {
    background-color: #000;
    color: #fff;
}

.dark-bg a {
    color: #fff;
}

.dark-bg a:hover {
    color: rgba(255, 255, 255, 0.6);
}

.dropdown {
    -webkit-animation: mymove 1.5s; /* Safari 4.0 - 8.0 */
    animation: mymove 1.5s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
} 

/* Standard syntax */ 
@keyframes mymove {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.align-right {
    text-align: right;
}

.p-t-15 {
    padding-top: 15px;
}

.p-t-6 {
    padding-top: 6px;
}

.p-tb-6 {
    padding-top: 6px;
    padding-bottom: 6px;
}

.p-l-6 {
    padding-left: 6px;
}

.font-bold {
    font-weight: bold;
    font-size: 1.1rem;
    color: rgba(221, 165, 45, 1);
}

.border-left-orange {
    border-left: 1px solid rgba(221, 165, 45, 1);
}

.border-left-blue {
    border-left: 1px solid rgba(132, 185, 203, 1);
}

.border-left-green {
    border-left: 1px solid rgba(147, 184, 129, 1);
}


.font-green {
    color: rgba(147, 184, 129, 1);
}

.font-blue {
    color: rgba(132, 185, 203, 1);
}

.font-orange {
    color: rgba(221, 165, 45, 1);
}

.font-white {
    color: rgba(248, 251, 248, 1);
}

.img-opc-07 {
    opacity: 0.7;
}