
.site-logo > img,
.site-logo a > img {
    height: 14px
}


.site-main {
    margin-top: 64px;
}

@media (max-width: 992px) {
    .site-main {
        margin-top: 128px;
    }
}

.site-footer {
    margin-top: 60px;
    padding: 40px 0;
    background-color: #404344;
}
/*
@media (max-width: 992px) {
    .site-footer {
        display: none;
    }
}*/

.site-footer .nav-link {
    padding-left: 0;
    padding-right: 0;
    font-size: 13px;
}

/************  **************/
.site-main {
    background-image: url("../images/texture.png");
}

[class*="section-"] {
    padding: 30px 0;
    width: 100%;
}

.section-service,
.section-tech {
    height: auto;
    background-color: rgba(77, 102, 124, 0.6);
    color: #F8FBF8;
}

@media (max-width: 1200px) {
    .section-service {
        margin-top: 30px;
    }
}

.section-service .title,
.section-tech .title {
    color: #E5D6A6;
}

.section-application,
.section-about {
    height: auto;
}

.section-application .title,
.section-about .title {
    color: #A0654B;
}

.card {
    box-shadow: 0 0 0px rgba(0, 1, 2, 0);
    background-color: rgba(0, 0, 0, 0);
}

.card .card-img {
    width: 100%;
}

@media (min-width: 992px) {
    .card .card-img {
        width: 50%
    }
}

.card-horizontal .card-content {
    background-color: rgba(0, 0, 0, 0);
}

/*.media-title {
    line-height: 1.15;
    font-size: 1.5rem;
}*/


#footer-content {
    padding: 15px;
}

#footer-content p {
    margin: 0px;
    padding: 0px;
}

.info {
    border-left: 4px solid #E5D6A6;
}

@media (max-width: 992px) {
    .info-title {
        display: none;
    }
}

@media (max-width: 768px) {
    .footer-logo-title {
        display: none;
    }
}

@media (max-width: 620px) {
    .app-example-title {
        display: none;
    }
}

@media (max-width: 544px) {
    .info {
        margin-top: 15px;
    }
}

#copyright {
    margin-top: 15px;
    margin-bottom: -40px;
}