/* Combined Module */
.thumb {
    box-shadow: 0 0 2px rgba(0, 1, 2, 0);
    position: relative;
}

.thumb-icon {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    text-align: center;
    z-index: 50;
    font-size: 48px !important;
    padding-top: 25px;
}

/*.thumb-icon:after {
    content: "";
    display: block;
    clear: both;
}*/

.thumb .thumb-content {
    padding: 10px 10px;
}

.thumb .title {
    color: rgba(248, 251, 248, 1) !important;
    text-align: center;
    padding-top: 48px;
    margin-bottom: 0px;
}

.thumb .sub-title {
    color: #E5D6A6 !important;
    text-align: center;
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 5px;
}

.thumb .title + p {
    font-size: 1rem;
    margin-top: 0;
}

